<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模型修改</title>
    <link href="__STATIC__/component/pear/css/pear.css" rel="stylesheet"/>
</head>
<body>
<form class="layui-form" action="{:url('edit')}" method="post">
    <input type="hidden" name="id" value="{$vo.id}">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label">模型标题</label>
                <div class="layui-input-block">
                    <input type="text" name="model_title" lay-verify="required" placeholder="请输入模型名称"
                           value="{$vo.model_title}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">表名</label>
                <div class="layui-input-block">
                    <input type="text" name="table_name" lay-verify="required" placeholder="请输入模型表名"
                           value="{$vo.table_name}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">表注释</label>
                <div class="layui-input-block">
                    <input type="text" name="table_comment" lay-verify="required" placeholder="请输入表注释"
                           value="{$vo.table_comment}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">列表排序</label>
                <div class="layui-input-block">
                    <input type="text" name="list_order" lay-verify="required" placeholder="请输入列表排序方式"
                           value="{$vo.list_order}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分页条数</label>
                <div class="layui-input-block">
                    <input type="text" name="list_limit" lay-verify="number" placeholder="分页条数，0为全部"
                           value="{$vo.list_limit}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">列表排除</label>
                <div class="layui-input-block">
                    <input type="text" name="list_except" lay-verify="required" placeholder="列表排除字段，多个用,分隔"
                           value="{$vo.list_except}" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="__STATIC__/component/layui/layui.js"></script>
<script src="__STATIC__/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery', 'willphp'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let willphp = layui.willphp;

        form.on('submit(save)', function (data) {
            willphp.ajaxPost(data, 0, function () {
                parent.layer.close(parent.layer.getFrameIndex(window.name));
                parent.layui.table.reload('dataTable');
            });
            return false;
        });
    })
</script>
</body>
</html>